<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9097"/>
    </include>

    <node pkg="iai_bullet_sim" type="realtime_simulator.py" name="iai_bullet_simulator"/>
    <node pkg="iai_bullet_sim" type="run_web_gui.sh" name="simulator_gui" cwd="node"/>
</launch>