<launch>
  <arg name="sim_frequency" default="50" />

  <param name="robot_description"
    textfile="$(find iai_table_robot_description)/robots/ur5_table.urdf" />

  <node pkg="iai_bullet_sim" type="naive_like_node.py" name="simulator" output="screen">
    <rosparam command="load" file="$(find iai_bullet_sim)/config/test_sim_config.yaml" />
    <remap from="~joint_states" to="joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
  </node>

  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" />
</launch>